In [1]:
import pandas as pd
import numpy as np

In [19]:
data=pd.read_csv(r"C:\Users\sujit\Downloads\tipsf.csv")

In [20]:
datac=data.copy()

In [21]:
datac.shape

(244, 8)

In [22]:
datac.drop(["Unnamed: 0"],axis=1,inplace=True)

In [23]:
datac

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    1     0     2
1         10.34  1.66    1       0    1     0     3
2         21.01  3.50    1       0    1     0     3
3         23.68  3.31    1       0    1     0     2
4         24.59  3.61    0       0    1     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    0     0     3
240       27.18  2.00    0       1    0     0     2
241       22.67  2.00    1       1    0     0     2
242       17.82  1.75    1       0    0     0     2
243       18.78  3.00    0       0    2     0     2

[244 rows x 7 columns]

In [24]:
c=datac["total_bill"]

In [25]:
c

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [26]:
##1>what is the total bill value


s=0
for i in c:
   s=s+i
print(s)

4827.770000000001

In [27]:
#2>what is the total tip value

d=datac["tip"]
s=0
for i in d:
   s=s+i
print(s)

731.58

In [34]:
#3>count of how many times sun,sat,thu,fri are there.

a=datac.loc[datac["day"]==0].shape
b=datac.loc[datac["day"]==1].shape
c=datac.loc[datac["day"]==2].shape
d=datac.loc[datac["day"]==3].shape
print("total sundays are ",a[0])
print("total saturdays are ",b[0])
print("total thurdays are ",c[0])
print("total fridays are ",d[0])

total sundays are  87
total saturdays are  76
total thurdays are  62
total fridays are  19

In [36]:
#4>how many smokers are there
a=datac.loc[datac["smoker"]==1].shape
print("total smokers are ",a[0])

total smokers are  93

In [66]:
#5>what is the average tip given by female and male
a=datac.loc[datac["sex"]==0,["tip"]]
b=a.shape
c=np.sum(a)
d=c/b[0]
print("by female ",d)
e=datac.loc[datac["sex"]==1,["tip"]]
f=e.shape
g=np.sum(e)
h=g/f[0]
print("by male ",h)

by female  tip    2.833448
dtype: float64
by male  tip    3.089618
dtype: float64

In [72]:
#6>how much amount have been spent by female and male.
female=datac.loc[datac["sex"]==0,["total_bill"]]
sum_female=np.sum(female)
male=datac.loc[datac["sex"]==1,["total_bill"]]
sum_male=np.sum(male)
print("Female ",sum_female)
print("Male ",sum_male)

Female  total_bill    1570.95
dtype: float64
Male  total_bill    3256.82
dtype: float64

In [81]:
#7>what is the min and max tip given 
tips=datac.describe()
max_min_tip=tips.loc[["max","min"],["tip"]]
print(max_min_tip)

      tip
max  10.0
min   1.0

In [87]:
#8>how many male and female are going for dinner and lunch

lunch_female=datac.loc[(datac["sex"]==0) & (datac["time"]==0)].shape
lunch_male=datac.loc[(datac["sex"]==1) & (datac["time"]==0)].shape
dinner_female=datac.loc[(datac["sex"]==0) & (datac["time"]==1)].shape
dinner_male=datac.loc[(datac["sex"]==1) & (datac["time"]==1)].shape
print(lunch_female[0]," female are going for lunch")
print(lunch_male[0]," male are going for lunch")
print(dinner_female[0]," female are going for dinner")
print(dinner_male[0]," male are going for dinner")

52  female are going for lunch
124  male are going for lunch
35  female are going for dinner
33  male are going for dinner

In [98]:
#9>find out the average size

size=datac["size"]
sp=size.shape
sum_size=np.sum(size)
print("average size is ",np.round(sum_size/sp[0]))

average size is  3.0

In [106]:
#10>find how many female smokers and male smokers are there

female_smokers=datac.loc[datac["sex"]==0,["smoker"]]
a=np.sum(female_smokers)
male_smokers=datac.loc[datac["sex"]==1,["smoker"]]
b=np.sum(male_smokers)
print("female ",a)
print("male ",b)

female  smoker    33
dtype: int64
male  smoker    60
dtype: int64

In [108]:
data1=pd.read_csv(r"C:\Users\sujit\Downloads\train_extended.csv")

In [109]:
data1

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8
...,...,...,...,...,...,...,...,...
199995,1.8125,1.2750,0.4375,42.141532,20.000572,9.979024,11.609120,11
199996,0.9875,0.6750,0.2375,7.980384,3.742134,1.913591,2.267960,6
199997,1.1250,0.9125,0.2875,10.886208,4.904464,1.984465,3.118445,7
199998,1.6250,1.2750,0.4125,33.891827,13.196692,7.866986,10.489315,11
199999,1.5875,1.2500,0.3875,34.373769,17.222321,7.385045,8.788345,11

In [110]:
data1.shape

(200000, 8)

In [111]:
data1.describe()

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,1.312448,1.020320,0.346028,23.123436,9.989370,4.993181,6.634229,9.950615
std,0.289833,0.238723,0.091179,12.597823,5.604343,2.785712,3.556733,3.217088
min,0.000000,0.000000,0.000000,0.028349,0.014175,0.014175,0.042524,1.000000
25%,1.150000,0.875000,0.287500,13.154168,5.669900,2.792426,3.827183,8.000000
50%,1.375000,1.075000,0.362500,23.515910,9.851451,4.890289,6.803880,10.000000
75%,1.525000,1.200000,0.412500,32.063285,13.933779,6.959802,9.029316,11.000000
max,7.583491,2.250000,2.825000,80.101512,45.274152,26.124064,37.038622,29.000000

In [114]:
#1>what is the maximum and minnimum length?

a=data1.describe()
b=a.loc[["max","min"],["Length"]]
print(b)

       Length
max  7.583491
min  0.000000

In [145]:
#2>find out the difference between max and min length.

a=data1.describe()
b=a.loc[["max"],["Length"]]
c=a.loc[["min"],["Length"]]
d=(b.values)-(c.values)
print(d[0,0])

7.58349125

In [150]:
#3>find column wise average.

a=data1.describe()
print("average of each colum")
print()
b=a.loc["mean"]
print(b)

average of each colum

Length             1.312448
Diameter           1.020320
Height             0.346028
Weight            23.123436
Shucked Weight     9.989370
Viscera Weight     4.993181
Shell Weight       6.634229
Age                9.950615
Name: mean, dtype: float64

In [153]:
#4>find out all the age whose height is gereater than 0.4


a=data1.loc[data1["Height"]>0.4,["Age"]]
print(a)

        Age
2        11
6        14
7        13
10       10
14       14
...     ...
199976   14
199977   21
199984   11
199995   11
199998   11

[55336 rows x 1 columns]

In [168]:
#5>what is the average height and weight of the persons whose age is greater than 10.

a=data1.loc[data1["Age"]>10,["Height"]]
b=a.shape
avg=np.sum(a)/(b[0])
d=data1.loc[data1["Age"]>10,["Weight"]]
e=a.shape
avg1=np.sum(d)/(e[0])
print("average of ",avg)
print("average of ",avg1)

average of  Height    0.408581
dtype: float64
average of  Weight    31.681362
dtype: float64

In [182]:
#6>what is the shell weight
a=data1["Shell Weight"]
b=np.sum(a)
print(np.round(b))

1326846.0

In [190]:
#7>how many persons belongs to each and every unique age

a=data1[["Age"]]
b=a.values
np.unique(b[:,0],return_counts=True)

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29], dtype=int64),
 array([   46,    42,   625,  2787,  5475, 12450, 18276, 26818, 32906,
        30803, 23457, 12717, 10037,  6352,  4831,  3191,  2705,  1953,
         1591,  1206,   721,   296,   352,   110,    51,    46,    99,
           57], dtype=int64))

In [199]:
#8>what is the differemce between shucked weight and viscera weight

a=data1[["Shucked Weight","Viscera Weight"]].values
b=np.sum(a[:,0])
c=np.sum(a[:,1])
print("the differemce between shucked weight and viscera weight is ",b-c)

the differemce between shucked weight and viscera weight is  999237.8582600503

In [206]:
#9>what is the average height of the persons whose age is between 14 and 19.

data=data1.loc[(data1["Age"]>14) & (data1["Age"]<19),["Height"]]
sum=np.sum(data)
print("Average of ",sum/(data.shape)[0])

Average of  Height    0.41907
dtype: float64

In [213]:
#10>what is the average weight if we include all shucked weight ,viscera weight and shell weight with weight.

data=data1[["Shucked Weight","Viscera Weight","Shell Weight","Weight"]].values
sum=np.sum(data[:,:])
num=data.shape
print(np.round(sum/num[0]))

45.0