In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\sujit\Downloads\all_grains_data.csv")

In [3]:
datac=data.copy()

In [4]:
datac.describe()

               open          high           low         close         volume
count  34883.000000  34883.000000  34883.000000  34883.000000   34883.000000
mean     573.890888    579.401570    568.530326    573.880280   27606.105008
std      458.921582    463.500174    454.580653    458.949972   52347.602634
min       14.400000     14.410000     14.380000     14.380000       0.000000
25%      224.500000    226.500000    222.250000    224.250000      78.000000
50%      435.500000    439.000000    431.750000    435.750000     867.000000
75%      878.000000    886.500000    869.750000    877.125000   28293.500000
max     2435.000000   2468.500000   2400.000000   2446.000000  523849.000000

In [5]:
datac.shape

(34883, 8)

In [6]:
datac["date"]=pd.to_datetime(datac["date"])

In [7]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  datetime64[ns]
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 2.1+ MB

In [8]:
#1>Which commodity was having the highest opening price for the day.
max=datac["open"].max()
datac.loc[datac["open"]==max,["commodity","open","date"]]

        commodity    open       date
19437  Rough Rice  2435.0 2008-04-24

In [9]:
#2>Which commodity price reached  maximum during the trading session.
max1=datac["high"].max()
datac.loc[datac["high"]==max1,["commodity","high","date"]]

        commodity    high       date
19437  Rough Rice  2468.5 2008-04-24

In [12]:
#3>What is the average Market's opening price for the Oat in 2010
datac.loc[(datac["date"].dt.year==2010) & (datac["commodity"]=="Oat"),["open"]].mean()

open    275.116071
dtype: float64

In [10]:
datac["commodity"].unique()

array(['Corn', 'Oat', 'KC HRW Wheat', 'Rough Rice', 'Soybean Oil',
       'Soybean'], dtype=object)

In [17]:
#4>What is the maximum and minimum Number of contracts traded during the 2009 
max=datac.loc[(datac["date"].dt.year==2009),["volume"]].max()
min=datac.loc[(datac["date"].dt.year==2009),["volume"]].min()
print("maximum number of contracts traded during 2009\n",max)
print("minimum number of contracts traded during 2009\n",min)

maximum number of contracts traded during 2009
 volume    252221
dtype: int64
minimum number of contracts traded during 2009
 volume    0
dtype: int64

In [24]:
#5>Which year have  maximum and minimum Number of contracts traded 
max=datac["volume"].max()
min=datac["volume"].min()
year_max=datac.loc[datac["volume"]==max,["date"]]
year_min=datac.loc[datac["volume"]==min,["date"]]
print("the year when the maximum number of trades traded\n",year_max)
print()
print("the years when the minimum number of trades traded\n",year_min)

the year when the maximum number of trades traded
            date
4216 2017-06-07

the years when the minimum number of trades traded
             date
821   2003-12-11
1328  2005-12-13
4486  2018-07-03
4528  2018-08-31
5682  2023-04-06
...          ...
29219 2001-03-13
30306 2005-07-12
33573 2018-07-03
33615 2018-08-31
34771 2023-04-06

[2812 rows x 1 columns]

In [50]:
#6>Which commodity have the average lowest opening price around 2001 to 2005
max=datac.loc[(datac["date"].dt.year>=2001) & (datac["date"].dt.year<=2005),["commodity","open","date"]]
g=max.groupby("commodity")
a=g[["open"]].mean()
a.loc["Soybean Oil"]

open    21.41611
Name: Soybean Oil, dtype: float64

In [54]:
#7>Which commodity have the best average  Market's closing price
#max=datac.loc[(datac["date"].dt.year>=2001) & (datac["date"].dt.year<=2005),["commodity","open","date"]]
g=datac.groupby("commodity")
a=g[["close"]].mean()
a.loc["Rough Rice"]

close    1143.607925
Name: Rough Rice, dtype: float64

In [59]:
#8>Which year corn have the highest and lowest Number of contracts traded
max=datac["volume"].max()
min=datac["volume"].min()
year_max=datac.loc[(datac["volume"]==max) & (datac["commodity"]=="Corn"),["date"]]
year_min=datac.loc[(datac["volume"]==min) & (datac["commodity"]=="Corn"),["date"]]
print("the year when the maximum number of trades traded for CORN\n",year_max)
print()
print("the years when the minimum number of trades traded for CORN\n",year_min)

the year when the maximum number of trades traded for CORN
            date
4216 2017-06-07

the years when the minimum number of trades traded for CORN
            date
821  2003-12-11
1328 2005-12-13
4486 2018-07-03
4528 2018-08-31
5682 2023-04-06

In [14]:
datac

      ticker commodity       date     open     high      low    close  volume
0       ZC=F      Corn 2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn 2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn 2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn 2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn 2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...        ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean 2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean 2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean 2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean 2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean 2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [21]:
a

,open,high,low,close,volume
commodity,,,,,
Corn,2.371380e+06,2.398804e+06,2.345653e+06,2.372091e+06,497349522
KC HRW Wheat,3.261528e+06,3.301767e+06,3.223747e+06,3.259838e+06,51461354
Oat,1.610072e+06,1.628864e+06,1.589876e+06,1.608691e+06,1829431
Rough Rice,6.789809e+06,6.838006e+06,6.737390e+06,6.789600e+06,2305632
Soybean,5.772221e+06,5.827814e+06,5.723405e+06,5.774519e+06,284104010
Soybean Oil,2.140249e+05,2.160094e+05,2.119723e+05,2.139263e+05,125933812

In [22]:
datac["high"].max()

2468.5